#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman tactical-nats.service
BindsTo=tacticalrmm.service
After=tacticalrmm.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
# EnvironmentFile=%S/state/secrets/passwords.secret
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/tactical-nats.pid %t/tactical-nats.ctr-id
ExecStartPre=/bin/mkdir -p %S/state/restore/
ExecStart=/usr/bin/podman run --conmon-pidfile %t/tactical-nats.pid \
    --cidfile %t/tactical-nats.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/tacticalrmm.pod-id --replace -d --name tactical-nats \
    --volume tactical_data:/opt/tactical:Z \
    --env API_HOST=${API_HOST} \
    ${TACTICAL_NATS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/tactical-nats.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/tactical-nats.ctr-id
ExecReload=/usr/bin/podman kill -s HUP tactical-nats
SyslogIdentifier=%u
PIDFile=%t/tactical-nats.pid
Type=forking

[Install]
WantedBy=default.target
