#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman tactical-celerybeat.service
BindsTo=tacticalrmm.service
After=tacticalrmm.service postgresql-app.service redis-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
# EnvironmentFile=%S/state/secrets/passwords.secret
Restart=always
TimeoutStopSec=70
TimeoutStartSec=300
ExecStartPre=/bin/rm -f %t/tactical-celerybeat.pid %t/tactical-celerybeat.ctr-id
ExecStartPre=/bin/mkdir -p %S/state/restore/
ExecStart=/usr/bin/podman run --conmon-pidfile %t/tactical-celerybeat.pid \
    --cidfile %t/tactical-celerybeat.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/tacticalrmm.pod-id --replace -d --name tactical-celerybeat \
    --volume tactical_data:/opt/tactical:Z \
    ${TACTICAL_IMAGE} tactical-celerybeat
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/tactical-celerybeat.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/tactical-celerybeat.ctr-id
ExecReload=/usr/bin/podman kill -s HUP tactical-celerybeat
SyslogIdentifier=%u
PIDFile=%t/tactical-celerybeat.pid
Type=forking

[Install]
WantedBy=default.target
